parameters:
	level: 8
	bootstrapFiles:
		- %currentWorkingDirectory%/phpstan-bootstrap-ppom.php
	dynamicConstantNames:
		- WC_VERSION
		- PPOM_PATH
		- PPOM_URL
		- PPOM_WP_PLUGIN_DIR
		- PPOM_UPLOAD_DIR_NAME
		- PPOM_PRODUCT_SLUG
	paths:
		- %currentWorkingDirectory%/src
		- %currentWorkingDirectory%/inc
		- %currentWorkingDirectory%/classes
		- %currentWorkingDirectory%/backend
		- %currentWorkingDirectory%/templates
	scanFiles:
		- %currentWorkingDirectory%/woocommerce-product-addon.php
		- %currentWorkingDirectory%/vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
		- %currentWorkingDirectory%/vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
		- %currentWorkingDirectory%/vendor/damian-elenbaas/elementor-stubs/elementor-stubs.php
includes:
	- %currentWorkingDirectory%/vendor/szepeviktor/phpstan-wordpress/extension.neon
	- %currentWorkingDirectory%/phpstan-baseline.neon
